* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

/* Layout generale */
body {
  max-width: 700px;
  margin: 40px auto;
  padding: 0 20px;
  font-family: sans-serif;
  line-height: 1.5;
}

/* Titolo */
header {
  text-align: center;
  margin-bottom: 30px;
}

/* Div */
div {
  text-align: center;
}

.ricevuti{
  background: #b3c00083;
  border-radius: 14px;
}

.salvati {
  background: #8dc00083;
  border-radius: 14px;
}

/* Sezioni */
h2 {
  margin: 25px 0 10px;
  text-align: center;
}

/* Pulsanti */
button {
  display: inline-block;
  padding: 8px 14px;
  margin: 6px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Messaggi di avviso */
.warning {
  color: orange;
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

/* Liste */
ul {
  list-style: none;
  margin-top: 10px;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  border-bottom: 1px solid #5a5a5a;
}

/* Pulsante rimozione */
li .removeBtn {
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}
